.searchBar .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  .searchBar .searchInput {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  .searchBar .searchInput:focus{
    color: #00B4CC;
  }
  .searchBar .searchButton {
    width: 10%;
    height: 50px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    
  }